LOGO_2009_BYN BITMAP "resources\\LOGO_2009_BYN.dib"
LOGO_2009_BYN_CHICO BITMAP "resources\\LOGO_2009_BYN_CHICO.dib"
LOGO_2009_COLOR BITMAP "resources\\LOGO_2009_COLOR.dib"
LOGO_ART BITMAP "resources\\LOGO_ART.dib"
LOGO_ART_NUEVO BITMAP "resources\\LOGO_ART_NUEVO.dib"
LOGO_GBP BITMAP "resources\\LOGO_GBP.dib"
LOGO_GOB BITMAP "resources\\LOGO_GOB.dib"
LOGO_MUTUAL BITMAP "resources\\LOGO_MUTUAL.dib"
LOGO_PART BITMAP "resources\\LOGO_PART.dib"
LOGO_PART_GOB BITMAP "resources\\LOGO_PART_GOB.dib"
SPLASH BITMAP "resources\\SPLASH.dib"
