logo_2009_byn_chico BITMAP "..\\sistemas\\resources\\logo_2009_byn_chico.dib"
logo_art BITMAP "..\\sistemas\\resources\\logo_art.dib"
logo_art_nuevo BITMAP "..\\sistemas\\resources\\logo_art_nuevo.dib"
logo_art_nuevo_color BITMAP "..\\sistemas\\resources\\logo_art_nuevo_color.dib"
logo_gbp BITMAP "..\\sistemas\\resources\\logo_gbp.dib"
logo_gob BITMAP "..\\sistemas\\resources\\logo_gob.dib"
logo_part BITMAP "..\\sistemas\\resources\\logo_part.dib"
logo_part_gob BITMAP "..\\sistemas\\resources\\logo_part_gob.dib"
splash BITMAP "..\\sistemas\\resources\\splash.dib"
