logo_2009_byn bITMAP "resources\\logo_2009_byn.dib"
logo_2009_byn_chico bITMAP "resources\\logo_2009_byn_chico.dib"
logo_2009_byn_res bITMAP "resources\\logo_2009_byn_res.dib"
logo_2009_color bITMAP "resources\\logo_2009_color.dib"
logo_art bITMAP "resources\\logo_art.dib"
logo_art_nuevo bITMAP "resources\\logo_art_nuevo.dib"
splash bITMAP "resources\\splash.dib"
