logo_2009_byn bITMAP "resources\\logo_2009_byn.dib"
logo_2009_byn_chico bITMAP "resources\\logo_2009_byn_chico.dib"
logo_2009_color bITMAP "resources\\logo_2009_color.dib"
logo_art bITMAP "resources\\logo_art.dib"
logo_art_nuevo bITMAP "resources\\logo_art_nuevo.dib"
logo_artcolor bITMAP "resources\\logo_artcolor.dib"
logo_bnacion bITMAP "resources\\logo_bnacion.dib"
logo_ciudad bITMAP "resources\\logo_ciudad.dib"
logo_gbp bITMAP "resources\\logo_gbp.dib"
splash bITMAP "resources\\splash.dib"
